.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bg-back {
    background-color: black;
}

.circular {
    border-radius: 50%;
}

.img-size {
    height: 250px;
    width: 250px;
}

.img-portafolio {
    height: 350px;
    width: 500px;
}

.img-institutos {
    height: 200px;
    width: 400px;
}

.aling-center{
    align-items: center;
}

.margen-down{
    margin-bottom: 10px;
}