
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;
}

.bg-back {
    background-color: black;
}

.circular {
    border-radius: 50%;
}

.r-logo {
    border-radius: 10%;  
}

.img-size {
    height: 350px;
    width: 350px;
}

.img-logos {
    height: 100px;
    width: 100px;
}

.img-logos-2 {
    height: 100px;
    width: 125px;
}

.img-portafolio {
    height: 350px;
    width: 500px;
}

.img-institutos {
    height: 200px;
    width: 400px;
}

.aling-center{
    align-items: center;
}

.margen-down{
    margin-bottom: 10px;
}

.shadow-img {
    box-shadow: 0 0 25px rgba(0, 132, 255, 0.692);
}

.hover:hover img {
    height: 110px;
    width: 110px;
}

.hover-2:hover img {
    height: 110px;
    width: 135px;
}

.hover-3:hover img {
    box-shadow: 0 0 25px rgba(0, 132, 255, 0.692);
}